body{
   margin: 0rem;
   padding: 0rem;
   background-color: rgb(183, 238, 255);
}

h4{
    color: white;
    padding: 0rem;
    margin: 0rem;
    @extend %border;
    background-color: black;
}

%border{
    border: 2px solid black;
}

#container{
    padding: 1rem;
}

#editorWindows{
    margin-bottom: 1.5rem;
}

#previewWindows{
    background-color: white;
}

#editor{
    @extend %border;
    width: 99.7%;
    margin: 0rem;
    padding: 0rem;
    height: 30vh;
}

#preview{
    @extend %border;
    padding: 1rem;
}